.background-container{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; /* Devide the page in to 5 equal rows*/
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Devide the page in to 4 equal columns*/
    margin: auto;
}
.top-container{
    grid-row:1/1;
    grid-column: span 4; /* occupies all four grids*/
    text-align: center;
    border-width: 1px;
    border-style: solid;
} 
.contact-card{
    grid-column: 1/2; /*Occupie column 1 to column 2*/
    grid-row:2/2; /* Occupie row 2 to row 3*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.profile-card{
    grid-row:2/3; /* Occupie row 2 to row 3*/
    grid-column: 2/5; /*Occupie column 2 to column 5*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.education-card{
    grid-row:3/4; /* Occupie row 3 to row 4*/
    grid-column: 1/2; /*Occupie column 1 to column 2*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.experience-card{
    grid-row:3/5; /* Occupie row 3 to row 5*/
    grid-column: 2/5; /*Occupie column 2 to column 5*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.languages-card{
    grid-row:4/5; /* Occupie row 4 to row 5*/
    grid-column: 1/2; /*Occupie column 1 to column 2*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.skill-card{
    grid-row:5/6; /* Occupie row 5 to row 6*/
    grid-column: 1/2; /*Occupie column 1 to column 2*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}
.certifications-card{
    grid-row:5/6; /* Occupie row 5 to row 6*/
    grid-column: 2/5; /*Occupie column 2 to column 5*/
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}


h2{
    font-size: 20px;
    color: blue;
}
.college-name,.company-name{
    font-weight: bold;
}
.join-date{
    font-size: 10px;
}
